<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>salary-slip</title>
<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  font-family: "DM Sans", sans-serif;
}



    .salary-slip {
      width: 850px;
      margin: 20px auto;
      background: #fff;
      border: 1px solid #000;
      padding: 20px;
    }
    .header {
      text-align: center;
      border-bottom: 2px solid #000;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    .header h2 {
      margin: 0;
    }
    .header p {
      margin: 3px 0;
      font-size: 14px;
    }
    .employee-summary, .pay-details, .salary-table, .netpay-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 15px;
      font-size: 14px;
    }
    .employee-summary td, .pay-details td, .salary-table td, .salary-table th, .netpay-table td, .netpay-table th {
      border: 1px solid #000;
      padding: 6px 10px;
    }
    .salary-table th, .netpay-table  th{
      background: #f0f0f0;
    }
    .netpay {
      text-align: right;
      font-weight: bold;
    }
    .footer {
      margin-top: 10px;
      font-size: 12px;
      color: #444;
    }

    
    button {
      background-color: #2288e7;
      color: white;
      padding: 10px 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }
</style>
</head>
<body >

  <div style="background-image: url('https://img.freepik.com/free-vector/ombre-blue-curve-light-blue-background_53876-173299.jpg');
         background-size: cover;
         height: 100px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 20px;">




    <h3 class="p-4" style="margin: 0;">Salary Slip Preview</h3>
    
  </div>

  <div style="position: relative;" class="salary-slip">
    <div class="header">    
   <div style="display: flex; justify-content: space-between; align-items: center;" >
    <div></div>
    <h2 style="font-size: 36px;"><%=data?.salary?.CompanyName  %></h2>
    <img style="width: 60px; " src="<%= data?.salary?.CompanyLogo %>" alt="">
   </div>
      <p><%= data?.salary?.Address %></p>
    </div>

    <table class="employee-summary">
<tr>
    
    <td><b>Employee Pay Summary</b></td>
    <td rowspan="4"  colspan="2" style="text-align:center; font-size:16px;"><b>Thirty Thousand Three Hundred Eighty Eight Rupees only</td>

</tr>      <tr>
        <td><b>Employee Name:</b> <%=data?.salary?.EmployeeName  %></td>
      </tr>
      <tr>
        <td><b>Employee ID:</b>  <%= data?.salary?.EmployeeId %></td>
      </tr>
      <tr>
        <td><b>Designation:</b> <%= data?.salary?.Designation%></td>
      </tr>
      <tr>
        <td><b>Process Name:</b>  <%=  data?.salary?.ProcessName %></td>
        <td colspan="2"><b>Total Earnings:</b> <input type="text" name="TotalEarnings" value="<%= data?.salary?.TotalEarnings %>"></td>
      </tr>
      <tr>
        <td><b>Date of Joining:</b> <%=data?.salary?.DateOfJoining  %></td>
        <td ><b>Paid Days:</b> <input type="text" name="PaidDays" value="<%= data?.salary?.PaidDays %>"></td>

        <td><b>LOP Days:</b> <input type="text" name="LOPDays"  value="<%= data?.salary?.LOPDays %>"></td>
      </tr>
      <tr>
        <td><b>Pay Period:</b><%=data?.salary?.PayPeriod  %></td>
        <td colspan="2"><b>Pay Date:</b> <%=data?.salary?.PayDate  %></td>
      </tr>
      <tr>
        <td ><b>UAN Number:</b></td>
        <td colspan="2"><b>Pay Days:</b> <input type="text" name="PaidDays" value="<%=data?.salary?.PaidDays  %> "></td>
      

      </tr>
      <tr>
        <td ><b>ESIC Number:</b></td>
        <td colspan="2">  <b>Paid Leave (PL):</b> <input type="text" name="PaidLeave" value="<%= data?.salary?.PaidLeave %>"></td>
     
      </tr>
    </table>

    <table class="salary-table">
      <tr>
        <th>SALARY PAYSCALE</th>
        <th>EARNING</th>
        <th>DEDUCTIONS</th>
        <th>AMOUNT</th>
      </tr>
      <tr>
        <td>BASIC</td>
        <td><input type="text" name="BASIC" value="<%= data?.salary?.BASIC %>"></td>
        <td>PF</td>
        <td><input type="text" name="PF" value="<%= data?.salary?.PF %>"></td>
      </tr>
      <tr>
        <td>HRA</td>
        <td><input type="text" name="HRA" value="<%= data?.salary?.HRA%>"></td>
        <td><input type="text" value="ESIC"></td>
        <td><input type="text" value="0"></td>
      </tr>
      <tr>
        <td>Incentive</td>
        <td><input type="text" name="Incentive" value="<%= data?.salary?.Incentive %>"></td>
        <td>Total Deductions</td>
        <td><input type="text" name="TotalDeductions" value="<%= data?.salary?.TotalDeductions %>"></td>
      </tr>
      <tr>
        <td><b>Total Earnings</b></td>
        <td><b><input type="text" name="TotalEarnings" value="<%= data?.salary?.TotalEarnings %>"></b></td>
        <td colspan="2"></td>
      </tr>
    </table>

    <table class="netpay-table">
        <tr>
            <th><b>NET PAY</b></th>
            <th><b>AMOUNT</b></th>
        </tr>
      <tr>
        <td><b>Gross Earnings</b></td>
        <td><input type="text" name="GrossEarnings" value="<%= data?.salary?.GrossEarnings %>"></td>
      </tr>
      <tr>
        <td><b>Total Deductions</b></td>
        <td><input type="text" name="TotalDeductions" value="<%= data?.salary?.TotalDeductions %>"></td>
      </tr>
      <tr>
        <td><b>Total Net Payable</b></td>
        <td><strong><input type="text" name="TotalNetPayout" value="<%= data?.salary?.TotalNetPayout %>"></strong></td>
      </tr>
      <tr>
        <td colspan="2" align="center">*Total Net Payable = Gross Earnings - Total Deductions + Total Reimbursements</td>
    </tr>

   
    </table>



    <p class="footer" style="text-align: center;">     <b><i> This is a Computer-Generated Slip and does not require signature.</i></b></p>
   

      <div style="display: flex; justify-content: end;">
    
    <button  type="submit">Save</button>

</div>
     
  </div>

 
  </body>
  </html>

  <script>
      let id = "<%= data?.salary?.id %>";  
 
    document.querySelector("button[type='submit']").addEventListener("click", async () => {
     
      const inputs = document.querySelectorAll("input");
      let payload = {};
inputs.forEach((inp) => {
  payload[inp.name] = inp.value;
});
  
      try {
        let response = await fetch(`http://localhost:8081/salary-slip/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(payload),
        });
  
        if (response.status) {
          alert("Salary slip updated successfully ");
          window.location.href = "/";  
        } else {
          alert("Failed to update ");
        }
      } catch (err) {
        console.error(err);
        alert("Error connecting to API ");
      }
    });
  </script>
  